/video_watermarking/H264_WaterMark/00OriginalVideo.mat
/video_watermarking/H264_WaterMark/01ResizedFrames.mat
/video_watermarking/H264_WaterMark/02BitStream.mat
/video_watermarking/H264_WaterMark/02ReconstructedVideo.mat
/video_watermarking/H264_WaterMark/03DecodedVideo.mat
